<a href="https://colab.research.google.com/github/calebroykim/gitstudy/blob/master/Functions(%EA%B9%80%EC%98%81%EC%A3%BC_2023152498).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 a = []
 for i in [1,2,3]:
    a.append(i+1)

In [2]:
a

[2, 3, 4]

In [5]:
def calcui(i):
    c = i*2*3+i
    return c

List comprehension

In [3]:
b = [i+1 for i in [1,2,3]]

In [4]:
b

[2, 3, 4]

In [6]:
b = [calcui(i) for i in [1,2,3]]

In [7]:
b

[7, 14, 21]

In [8]:
[i+1 for i in [1,2,3] if i%2==0 ]

[3]

In [9]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

number_list

[1, 2, 3, 4, 5]

In [10]:
number_list = []
for number in range(1,6):
  number_list.append(number)

number_list

[1, 2, 3, 4, 5]

In [12]:
number_list = list(range(1,6))
number_list

[1, 2, 3, 4, 5]

In [13]:
number_list = [number for number in range(1,6)]
number_list

[1, 2, 3, 4, 5]

In [14]:
number_list = [number-1 for number in range(1,6)]
number_list

[0, 1, 2, 3, 4]

In [16]:
a_list = [number for number in range(1,6) if number%2 == 1]
a_list

[1, 3, 5]

In [17]:
a_list = []
for number in range(1,6):
   if number%2 == 1:
      a_list.append(number)

a_list

[1, 3, 5]

In [24]:
sentence = ['I','Love','Python','Soooooo','MUCH!!!']
sentence

['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

In [25]:
[word.lower() for word in sentence]

['i', 'love', 'python', 'soooooo', 'much!!!']

In [26]:
[word for word in sentence if len(word) > 6]

['Soooooo', 'MUCH!!!']

In [28]:
[word.upper() for word in sentence if len(word) < 5]

['I', 'LOVE']

In [29]:
[(x,x**2,x**3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [30]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
  for col in cols:
    print(row,col)

1 1
1 2
2 1
2 2
3 1
3 2

In [31]:
rows = range(1,4)
cols = range(1,3)
cells = [(row,col) for row in rows for col in cols]
for cell in cells:
  print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [32]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [34]:
word = 'letters'
letter_counts = {letter:word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [35]:
letter_counts = {letter:word.count(letter) for letter in set(word)}
letter_counts

{'t': 2, 's': 1, 'e': 2, 'l': 1, 'r': 1}

In [37]:
set(word)

{'e', 'l', 'r', 's', 't'}

In [39]:
a_set = {number for number in range(1,6) if number % 3 == 1}
a_set

{1, 4}

return 값을 갖는 함수

def function_name(param1, param2):
  value = do_something()
  return value

In [40]:
def sum(a, b):
    return a+b

In [41]:
sum(1,2)

3

In [42]:
sum(1.3, 3.1)

4.4

In [44]:
p = sum('love ','python')

p

'love python'

In [46]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
  print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [47]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'
list( zip(english, french) )
# [('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [48]:
dict( zip(english, french) )
# {'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [49]:
# wine, entree, dessert를 받아서 딕셔너리로 만들어 반환하는 함수
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [50]:
menu('chardonnay', 'chicken', 'cake')
# {'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [52]:
menu(entree='beef', dessert='bagel', wine='bordeaux')
# {'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [53]:
menu('frontenac', dessert='flan', entree='fish')
#{'entree': 'fish', 'dessert': 'flan', 'wine': 'frontenac'}

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [54]:
# dessert의 기본값을 정해줌
def menu(wine, entree, dessert='pudding'):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [55]:
menu('chardonnay', 'chicken')
# {'dessert': pudding ’, 'wine': 'chardonnay', 'entree': 'chicken'}

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [56]:
menu('dunkelfelder', 'duck', 'doughnut')
# {'dessert': 'doughnut', 'wine': 'dunkelfelder', 'entree': 'duck'}

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [57]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [58]:
menu(100)

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [59]:
menu(price=100) # 1 키워드 인자

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [61]:
menu(price=120, entree='beef') # 2 키워드 인자

{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}

In [62]:
menu(dessert='bagel', price=110) # 2 키워드 인자

{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bagel'}

In [64]:
menu('eighty','saint-pierre', 'fish') # 3 위치 인자

{'price': 'eighty',
 'wine': 'saint-pierre',
 'entree': 'fish',
 'dessert': 'pudding'}

In [66]:
menu('hundred', wine='saint-pierre') # 1 위치 인자, 1 키워드 인자

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [67]:
def echo(anything):
  'echo returns its input argument'
  return anything

In [68]:
echo(1)

1

In [69]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

In [70]:
print(echo.__doc__)

echo returns its input argument

In [71]:
def print_if_true(thing, check):
  """
  Prints the first argument if a second argument is true.
  The operation is:
  1. Check whether the *second* argument is true.
  2. If it is, print the *first* argument.
  """
  if check:
    print(thing)

In [73]:
print_if_true('hahaha', True)

hahaha

In [74]:
print_if_true('test good', 1 != 3)

test good

In [75]:
help(print_if_true)

Help on function print_if_true in module __main__:

print_if_true(thing, check)
    Prints the first argument if a second argument is true.
    The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.

In [76]:
print(print_if_true.__doc__)

  Prints the first argument if a second argument is true.
  The operation is:
  1. Check whether the *second* argument is true.
  2. If it is, print the *first* argument.

In [77]:
import math
math.sqrt(16)

4.0

In [78]:
!pip3 install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)