<a href="https://colab.research.google.com/github/calebroykim/gitstudy/blob/master/%EC%88%99%EC%A0%9C1_types_%EA%B9%80%EC%98%81%EC%A3%BC(2023152498).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 id="exercise">Exercise 1 (Types) : Your First Program </h1>
이름 : 김영주
학번 : 2023152498

In [ ]:
# Exercise 1 (Types) : Your First Program
# 이름 : 김영주
# 학번 : 2023152498

# 단순히 "Hello, world!" 문자열을 출력함.
print("Hello, world!")

# 코멘트 달기
print("Hello, world!") # Print the traditional hello world

Hello, world!
Hello, world!

In [1]:
# Exercise 2 (Types) : Get the object type

# Write your code below. type()을 이용하여 12.0의 object type 구하기
type(12.0)

float

In [2]:
# Exercise 3 (Types) : Types

# What is the data type of the result of: 6 / 2
type(6 / 2)

float

In [3]:
# What is the data type of the result of: 6 // 2
type(6//2)

int

In [4]:
# Exercise 4 (Types) : Expression

# write an expression that calculates how many hours there are in 160 minutes:
160/60

2.6666666666666665

In [5]:
# write an expression that calculates how many hours there are in 160 minutes:
160//60

2

In [6]:
# Exercise 5 (Types) : Expression and Variables in Python

# What is the value of x where x = 3 + 2 * 2
x = 3 + 2 * 2
x

7

In [7]:
# What is the value of y where y = (3 + 2) * 2?
y = (3 + 2) * 2
y

10

In [8]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x + y
z

17